@tailwind utilities;

body {
  margin: 0;
}

.upload-file .ant-upload img {
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.upload-file .ant-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pdf-link {
  display: inline-block;
  text-overflow: ellipsis;
  width: calc(80%);
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
  padding-left: 5px;
  padding-top: 2px;
}

.event-datetime {
  flex: 1;
  display: flex;
  font-style: italic;
}

.event-datetime div {
  margin: 4px;
}
